<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="main">
        {{>navbar}}
        {{>header}}
        <p>i am tyrell and this is my first fullstack webpage! i am a very enthusiastic indivual and very intrested in learning  </p>
    </div>
    {{>footer}}
</body>
</html>